<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<!-- General meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% if page.indexing == false %}
			<meta name="robots" content="noindex">
		{% endif %}

		{% if page.collectionpage %}
			{% seo title=false %}

			{% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
			<title>{{ collectiondata.title }} - {{ site.title }}</title>
			<meta property="og:title" content="{{ collectiondata.title }}">
			<meta name="description" content="{{ collectiondata.description }}">
			<meta property="og:description" content="{{ collectiondata.description }}">
		{% else %}
			{% seo %}
		{% endif %}

    <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">

		{% if site.avatarurl %}{% include site-favicons.html %}{% endif %}
	</head>
	<body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
		{% include site-icons.svg %}

		{{ content }}

		<!-- Piwik -->
		<script type="text/javascript">
		  var _paq = _paq || [];
		  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		  _paq.push(["setCookieDomain", "*.dustmap.org"]);
		  _paq.push(['trackPageView']);
		  _paq.push(['enableLinkTracking']);
		  (function() {
		    var u="https://analytics.animal.at/";
		    _paq.push(['setTrackerUrl', u+'piwik.php']);
		    _paq.push(['setSiteId', '6']);
		    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		  })();
		</script>
		<!-- End Piwik Code -->
	</body>
</html>
